# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl


# Logs & temporary files
*.log
*.tmp
*.bak
crash.log

# Editor files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
